PORT=8000
CARTOON_BLINK_RATIO_MIN=0.02
CARTOON_BLINK_RATIO_MAX=0.12
CARTOON_MOUTH_OPEN_MIN=0.01
CARTOON_MOUTH_OPEN_MAX=0.18
CARTOON_SMILE_WIDTH_MIN=0.26
CARTOON_SMILE_WIDTH_MAX=0.42
CARTOON_SMILE_LIFT_MIN=0.02
CARTOON_SMILE_LIFT_MAX=0.11
CARTOON_BROW_RAISE_MIN=0.035
CARTOON_BROW_RAISE_MAX=0.095
CARTOON_EXPRESSION_SMOOTHING=0.35
CARTOON_MAX_FACES=5
