PORT=5001
MONGODB_URI=mongodb://127.0.0.1:27017/cartoon-filter
FRONTEND_URL=http://localhost:5173
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
AI_SERVICE_URL=http://127.0.0.1:8000
CLOUDINARY_CLOUD_NAME=your-cloud-name
CLOUDINARY_API_KEY=your-api-key
CLOUDINARY_API_SECRET=your-api-secret
